*{
    font-weight: 550;
    box-sizing: border-box;
}
html{
    background-color: rgb(64, 89, 149);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#maintitle{
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    border: 15px solid green;
    border-radius: 15px;
    background-size: contain;
    padding: 20px;
   background-color: aqua;
   width: fit-content;
   margin: auto ;

}
#homebutton{
    background-color:  aquamarine;

}
.recipelist{
    padding: 45px;
    width: 800px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.recipe  {
    border: 7px solid green;
    border-radius: 10px;
    padding: 65px 8px;
    background-color: aquamarine;
    list-style: none;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-right: 20px;

}
#toyboxtorta{
  
   background-size:cover;
   background-position-y: center;
}
#smkdcabb{
    
    background-size:cover;
    background-position-y: center;
 }

#ccltonic{
    
    background-size:cover;
    background-position-y: center;
 }
.pagetitle {
    padding: 15px;
    width: fit-content;
    margin: auto;
    background-color: aquamarine;
    border: 7px solid green;
}
.recipeimg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 333px;
  border: 14px solid black;
}
.recipecontent{
    padding: 15px;
    width: 766px;
    margin-left: auto;
    margin-right: auto;
    
}
.subtitle{
   
    background-color: aquamarine;
    border: 7px solid rgb(63, 171, 63);
}
.subtitlecontent{
    background-color: rgb(172, 255, 227);
    border: 7px solid green;
}
.link:hover {
    font-weight: bolder;
   color: black;
}