html{
    background-color: greenyellow;
}
#maintitle{
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    border: 15px solid green;
    background-size: contain;
    padding: 20px;
   background-color: aqua;
   width: fit-content;
   margin: auto ;
}